name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

permissions:
    contents: read

env:
    CARGO_TERM_COLOR: always
    CARGO_INCREMENTAL: 0

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Rust
              uses: actions-rust-lang/setup-rust-toolchain@v1
            - name: Run tests
              run: cargo test

    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Rust
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  components: rustfmt
            - name: Enforce formatting
              run: cargo fmt --check

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Rust
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  components: clippy
            - name: Linting
              # Using --all-targets ensures clippy checks tests and examples too
              # Ignoring clippy::needless_return - we encourage the use of return keyword for clarity
              run: cargo clippy --all-targets -- -D warnings -A clippy::needless_return
